header {
    width: 100vw;
    height: 200px;
    background-color: rgb(75, 75, 75);
    position: fixed;
    top: 0px;
    z-index: 3;
}

.left-col {
    height: 100vw;
    width: 15%;
    background-color: rgb(220, 220, 220);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.right-col {
    height: 100vw;
    width: 15%;
    background-color: rgb(220, 220, 220);
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2;
}

footer {
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0px;
}